<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Weather</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /* Add some animations */
        .fadeIn {
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards;
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand fadeIn" href="#">
                <h1>Weather Detector</h1>
            </a>
        </div>
    </nav>

    <div class="container mt-5 fadeIn">
        <div class="row justify-content-center">
            <form action="" method="post" class="col-md-6">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="city" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                {% if weather.country_code %}
                <h1 class="display-4 fadeIn">{{weather.city}}</h1>
                <h3 class="fadeIn">Country Code: {{weather.country_code}}</h3>
                <h5 class="fadeIn">Coordinates: {{weather.cordinate}}</h5>
                <h5 class="fadeIn">Temperature: {{weather.temp}} °C</h5>
                <h5 class="fadeIn">Pressure: {{weather.pressure}} hPa</h5>
                <h5 class="fadeIn">Humidity: {{weather.humidity}}%</h5>
                <h5 class="fadeIn">Wind: {{weather.wind}} m/s</h5>
                <h5 class="fadeIn">Clouds: {{weather.clouds}}%</h5>
                {% else %}
                <h1 class="display-4 fadeIn">{{erreur}}</h1>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>
